.mediaViewInfo {
	--web-view-name: loginPage;
	--web-view-id: n_Log_in_Page;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: n_Log_in_Page;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#n_Log_in_Page {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: loginPage;
	--web-view-id: n_Log_in_Page;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_83 {
	fill: rgb(255, 255, 255);
}
.Rectangle_83 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1426px;
	height: 825px;
	left: 269px;
	top: 108px;
}
#Sunday_Everyday_Logo {
	position: absolute;
	width: 379px;
	height: 276px;
	left: 773px;
	top: 148px;
	overflow: visible;
}
#Rectangle_84 {
	fill: rgba(255,255,255,1);
}
.Rectangle_84 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 456px;
	height: 411px;
	left: 741px;
	top: 369px;
}
users_form{
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 456px;
    height: 411px;
    left: 741px;
    top: 369px;
    margin-left: 500px;

}
#WELCOME_BACK {
	left: 871px;
	top: 415px;
	position: absolute;
	overflow: visible;
	width: 179px;
	white-space: nowrap;
	text-align: center;
	font-family: Acumin Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(6,6,6,1);
}
#Enter_your_email_and_password_ {
	left: 799px;
	top: 445px;
	position: absolute;
	overflow: visible;
	width: 323px;
	white-space: nowrap;
	text-align: center;
	font-family: Acumin Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(232,199,216,1);
}
#Rectangle_85 {
	fill: rgba(255,255,255,1);
}
.Rectangle_85 {
	position: absolute;
	overflow: visible;
	width: 379px;
	height: 61px;
	left: 773px;
	top: 491px;
}
#Email {
	left: 785px;
	top: 502px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: center;
	font-family: Acumin Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(6,6,6,1);
}
#Rectangle_86 {
	fill: rgba(255,255,255,1);
}
.Rectangle_86 {
	position: absolute;
	overflow: visible;
	width: 379px;
	height: 61px;
	left: 773px;
	top: 575px;
}
#Password {
	left: 785px;
	top: 583px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: center;
	font-family: Acumin Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(6,6,6,1);
}
#Rectangle_87 {
	fill: rgba(230,230,230,1);
}
.Rectangle_87 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 373px;
	height: 55px;
	left: 785px;
	top: 522px;
}
#Rectangle_88 {
	fill: rgba(230,230,230,1);
}
.Rectangle_88 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 373px;
	height: 55px;
	left: 783px;
	top: 603px;
}
#n_2022_Sunday_EveryDay {
	left: 886px;
	top: 1026px;
	position: absolute;
	overflow: visible;
	width: 150px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Acumin Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(32,33,36,1);
}
#Enter_Email_here {
	left: 797px;
	top: 535px;
	position: absolute;
	overflow: visible;
	width: 323px;
	height: 23px;
	line-height: 76px;
	margin-top: -29px;
	text-align: left;
	font-family: Acumin Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(146,146,146,1);
}
#Enter_Password_here {
	left: 799px;
	top: 617px;
	position: absolute;
	overflow: visible;
	width: 323px;
	height: 23px;
	line-height: 76px;
	margin-top: -29px;
	text-align: left;
	font-family: Acumin Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(126,126,126,1);
}
#Log_in {
	position: absolute;
	width: 105px;
	height: 36px;
	left: 908px;
	top: 668px;
	overflow: visible;
	transition: all 0.30000001192092896s ease-out;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: dashboardPage;
	cursor: pointer;
}
#Rectangle_89 {
	fill: rgba(255,255,255,1);
}
.Rectangle_89 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 123px;
	height: 54px;
	left: 0px;
	top: 0px;
}
#Log_in_ {
	left: 23px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: center;
	font-family: Acumin Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(252,158,192,1);
}
#Rectangle_95 {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Rectangle_95 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 123px;
	height: 54px;
	left: 0px;
	top: 0px;
}

